* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f4f4f4;
    color: #333;
    overflow-x: hidden; 
}

/* Фиксированный header */
header {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navbar размещается внутри header */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
    padding: 10px 0; 
}

.navbar a {
    color: white;
    padding: 10px 20px; 
    margin: 0 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-size: 16px;
    border-radius: 8px; /* Добавляем закругленные углы к выделению */
}

.navbar a:hover {
    background-color: #555;
}

/* Контейнер с учетом фиксированного header */
.container {
    width: 80%;
    margin: 120px auto 20px; /* Отступ сверху увеличен, чтобы учесть фиксированный header */
    overflow: hidden;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Контейнер для логина */
.login-container {
    max-width: 400px; /* Максимальная ширина контейнера для логина */
    margin: 150px auto; /* Центрируем контейнер по горизонтали и добавляем отступ сверху */
    padding: 20px;
    background: #fff; /* Фон контейнера */
    border-radius: 8px; /* Закругленные углы */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center; /* Центрируем содержимое контейнера */
}

/* Заголовок в контейнере логина */
.login-container h1 {
    text-align: center; /* Центрируем заголовок */
    margin-bottom: 20px; /* Добавляем отступ снизу для заголовка */
}

/* Поля ввода в форме логина */
.login-container input[type="text"],
.login-container input[type="password"] {
    width: 80%; /* Уменьшаем ширину полей ввода */
    margin: 10px auto; /* Центрируем поля по горизонтали */
    display: block; /* Делаем поля блочными для работы margin: auto */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Кнопка входа */
.login-container button[type="submit"],
.login-container button {
    margin-top: 20px; /* Добавляем отступ сверху для кнопки */
    display: block; /* Делаем кнопку блочной для центровки */
    margin-left: auto;
    margin-right: auto;
    width: 100px; /* Задаем фиксированную ширину для кнопки */
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-container button[type="submit"]:hover,
.login-container button:hover {
    background-color: #0056b3;
}




/* Футер */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Стили для форм и элементов форм */
input[type="text"],
input[type="password"],
input[type="datetime-local"],
input[type="file"],
select,
textarea {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    resize: none;
    border-radius: 5px;
    padding: 10px;
}

input[type="submit"],
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

/* Анимации */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container, header, footer {
    animation: fadeIn 0.2s ease-out;
}

/* Стили для списка проблем */
.problem-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -5px;
}

.problem {
    overflow: hidden;
    flex: 1 1 30%;
    margin: 5px;
    max-width: calc(33.333% - 10px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9; 
}

.problem a {
    text-decoration: none;
    color: inherit;
}

.problem-status {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 3px;
    background-color: #007bff;
}

.status-new {
    background-color: red;
}

.status-resolved {
    background-color: green;
}

/* Пагинация */
.pagination {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.pagination a, .pagination span {
    margin: 0 5px;
    text-decoration: none;
}

/* Форма фильтрации */
.filter-form {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px; 
}

.filter-form label, .filter-form select {
    margin: 0; 
    padding: 8px 10px; 
    white-space: nowrap; 
}

.filter-form select {
    width: auto; 
    cursor: pointer; 
}

/* Форма ввода данных */
.form-input {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-group {
    flex: 1 1 48%; /* Примерно половина ширины контейнера */
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.input-group.wide {
    flex: 1 1 100%; /* Элемент описания и заголовка занимает всю ширину */
}

.input-group input,
.input-group select,
.input-group textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group textarea {
    min-height: 120px;
}

.input-group label {
    flex: 1; 
    text-align: left; 
    margin-bottom: 5px; 
}


.submit-button {
    width: auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Стили для элементов в строке формы */
.form-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; /* Расстояние между элементами в одной строке */
    width: 100%;
}
.form-row .input-group {
    flex: 1 1 23%; /* Четыре элемента равной ширины в строке */
}

.input-group:last-child {
    margin-right: 0; 
}

select, input[type="datetime-local"], input[type="file"] {
    width: 100%; 
}
/* Кнопка переключения темы */
.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: auto;
    padding: 5px;
    transition: transform 0.3s ease;
}

.theme-toggle img {
    width: 24px; 
    height: 24px; 
    transition: filter 0.3s;
}

.theme-toggle:hover img {
    transform: scale(1.1); 
}


/* Стилизация таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

table th {
    background: #f4f4f4;
}

/* Кнопка создания нового пользователя */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}


/* Стилизация группы ввода */
.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input[type="text"],
.input-group input[type="password"],
.input-group input[type="checkbox"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Стили для кнопки */
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.problem-list .problem {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    position: relative; /* For positioning the status label */
}
.problem.red { border-left: 5px solid red; }
.problem.yellow { border-left: 5px solid yellow; }
.problem.green { border-left: 5px solid green; }
.problem-status {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.status-new {
    background-color: red;
}
.status-resolved {
    background-color: green;
}
.pagination {
    margin-top: 20px;
    text-align: center;
}
.pagination a, .pagination span {
    margin: 0 5px;
    text-decoration: none;
}
/* Темная тема */
body.dark-theme {
    background-color: #333;
    color: #f4f4f4;
}
body.dark-theme textarea {
    background-color: #2b2b2b; /* Тёмный фон для текстового поля */
    color: #ffffff; /* Белый текст */
    border: 1px solid #444444;
}
body.dark-theme .comment-form-container {
    background-color: #2b2b2b; /* Тёмный фон */
    border: 1px solid #444444;
}
body:not(.dark-theme) .comment-form-container {
    background-color: #f4f4f4; /* Светлый фон */
    border: 1px solid #dddddd;
}

body:not(.dark-theme) textarea {
    background-color: #ffffff; /* Белый фон для текстового поля */
    color: #000000; /* Чёрный текст */
    border: 1px solid #dddddd;
}
body:not(.dark-theme) .attach-icon {
    background-color: #ffffff; /* Белый фон для светлой темы */
    border: 1px solid #dddddd; /* Граница для контраста */
    border-radius: 50%; /* Круглая форма */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Размер круга */
    height: 40px; /* Размер круга */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}
body.dark-theme .attach-icon {
    background-color: #2b2b2b; /* Тёмный фон для тёмной темы */
    border: 1px solid #444444; /* Граница для контраста */
    border-radius: 50%; /* Круглая форма */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Размер круга */
    height: 40px; /* Размер круга */
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

/* Темная тема для контейнеров */
.dark-theme .container,
.dark-theme .problem,
.dark-theme .form-input,
.dark-theme table {
    background-color: #444; /* Сделать фон таким же темным, как у футера */
    color: #f4f4f4; /* Текст сделать светлым */
    border: 1px solid #555; /* Для границы использовать более тёмный оттенок */
}

/* Темная тема для полей ввода */
.dark-theme input[type="text"],
.dark-theme input[type="password"],
.dark-theme input[type="datetime-local"],
.dark-theme input[type="file"],
.dark-theme select,
.dark-theme textarea {
    background-color: #2b2b2b !important; /* Принудительно применяем тёмный фон */
    color: #ffffff !important; /* Принудительно белый текст */
    border: 1px solid #444444 !important; /* Принудительно цвет границы */
    padding: 10px;
    border-radius: 4px;
    resize: none;
}


/* Темная тема для заголовков */
.dark-theme h1, .dark-theme h2, .dark-theme h3 {
    color: #f4f4f4; /* Светлый цвет для заголовков */
}

/* Темная тема для таблицы пользователей */
.dark-theme table th, .dark-theme table td {
    background-color: #444; /* Заменить белый фон у ячеек на тёмный */
    color: #f4f4f4; /* Сделать текст светлым */
}

/* Темная тема для кнопки "Create New User" */
.dark-theme .button {
    background-color: #666; /* Сделать кнопку чуть темнее для темной темы */
}

/* Темная тема для заголовка страницы (например, "Submit a Problem") */
.dark-theme .navbar a {
    color: #f4f4f4; /* Сделать ссылки светлыми */
}

.dark-theme .navbar a:hover {
    background-color: #555; /* Заменить цвет выделения при наведении */
}

/* Плавный переход для body и всех контейнеров */
body, 
.container, 
.problem, 
.form-input, 
table, 
input[type="text"], 
input[type="password"], 
input[type="datetime-local"], 
input[type="file"], 
select, 
textarea, 
button, 
.navbar a {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}


.dark-theme .container,
.dark-theme .problem,
.dark-theme .form-input,
.dark-theme table {
    background-color: #444; /* Используйте фон такого же цвета, как у футера */
    color: #f4f4f4; /* Сделайте текст светлым */
    border: 1px solid #555; /* Более темная граница */
}
/* Темная тема для полосы приоритетов */
.dark-theme .problem.red {
    border-left: 5px solid red; /* Задаем красную полосу для высокого приоритета */
}

.dark-theme .problem.yellow {
    border-left: 5px solid yellow; /* Задаем желтую полосу для среднего приоритета */
}

.dark-theme .problem.green {
    border-left: 5px solid green; /* Задаем зеленую полосу для низкого приоритета */
}

.comments-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment {
    max-width: 60%;
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 1.5;
    word-break: break-word; 
    overflow-wrap: break-word;
    color: #fff; 
}


.user-comment {
    align-self: flex-end;
    background-color: #2a3b47; 
    text-align: right;
    color: #fff; 
}
.admin-comment {
    align-self: flex-start;
    background-color: #3e3e3e; 
    text-align: left;
    color: #fff; 
}

/* Адаптация для светлой темы */
body:not(.dark-theme) .comment {
    color: #000; 
}

body:not(.dark-theme) .user-comment {
    background-color: #f0f8ff; 
}

body:not(.dark-theme) .admin-comment {
    background-color: #fff4e6; 
}

.comment-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-content {
    display: block;
}

ul.comment-files {
    list-style-type: none;
    padding-left: 0;
}

ul.comment-files li {
    margin-bottom: 5px;
}

ul.comment-files a {
    text-decoration: none;
    color: #007bff;
}

ul.comment-files a:hover {
    text-decoration: underline;
}

.file-upload {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.custom-file-upload {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    color: #555;
    text-decoration: none;
    gap: 5px; /* Расстояние между иконкой и текстом */
}

.custom-file-upload:hover {
    color: #333;
}

.custom-file-upload img {
    width: 20px;
    height: 20px;
}

#files {
    display: none; /* Прячем стандартное поле выбора файлов */
}
.comment-form-container {
    background-color: var(--dark-background-color); /* Dynamic background color */
    border: 1px solid var(--border-color); /* Dynamic border color */
    border-radius: 8px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.comment-form-container textarea {
    background-color: #2b2b2b; /* Тёмный фон текстового поля */
    color: #ffffff; /* Белый текст */
    border: none; /* Убираем стандартную рамку */
    resize: none; /* Отключаем возможность изменения размера */
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
}

.comment-form-container textarea:focus {
    outline: none; /* Убираем стандартный фокус */
    border: 1px solid #888888; /* Цвет рамки при фокусе */
}

.comment-form-container .attach-icon {
    cursor: pointer;
    padding: 5px;
    border-radius: 50%;
    background-color: #444444;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-form-container .send-icon {
    background-color: #1a73e8;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}


.input-container {
    display: flex;
    align-items: center;
    width: 100%;
}

textarea {
    background-color: transparent; /* Match the container */
    color: var(--light-text-color); /* Match the theme text */
    border: none;
    resize: none;
    flex-grow: 1;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

textarea::placeholder {
    color: #aaa;
}

.attach-icon {
    margin-right: 10px;
    cursor: pointer;
}

.send-icon {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.send-icon img {
    display: block;
}

textarea:focus {
    outline: none;
    border-color: var(--highlight-color); /* Цвет границы при фокусе */
}

.comment-form-container:hover {
    border-color: #888;
}
:root {
    --dark-background-color: #2b2b2b;
    --light-background-color: #ffffff;
    --light-text-color: #000000;
    --dark-text-color: #ffffff;
    --border-color: #444444;
    --highlight-color: #1a73e8;
}

.file-upload-label {
    display: flex;
    align-items: center;
    gap: 5px; 
    font-size: 16px;
    cursor: pointer;
}

.file-icon {
    font-size: 20px; 
    color: var(--highlight-color);
}

input[type="file"] {
    display: none; 
}

.light-theme .comment-form-container {
    background-color: #ffffff; /* Light theme background */
    border: 1px solid #dddddd;
}
.light-theme textarea {
    background-color: #ffffff;
    color: #ffff; /* Dark text for light theme */
    border: 1px solid #dddddd;
}